@using ElectroDocument.Controllers.AppContext;
@using Microsoft.EntityFrameworkCore.Metadata;
@using System.Collections;

@{
    ViewData["Title"] = "Создание пользователя";
    IEnumerable<Role> roles = Model.roles;
}


<h2>Форма создания сотрудника</h2>
<form id="employeeForm" action="/Users/Add" onsubmit="return validateForm()" method="post" enctype="multipart/form-data">
    <div>
        <label for="Name">Имя <span class="error">*</span></label><br>
        <input type="text" id="firstName" name="Name" required><br>
    </div>
    <div>
        <label for="Surname">Фамилия <span class="error">*</span></label><br>
        <input type="text" id="lastName" name="Surname" required><br>
    </div>
    <div>
        <label for="UserName">Логин <span class="error">*</span></label><br>
        <input type="text" id="login" name="UserName" required><br>
    </div>
    <div>
        <label for="Password">Пароль <span class="error">*</span></label><br>
        <input type="password" id="password" name="Password" required><br>
    </div>
    <div>
        <label for="Patronymic">Отчество</label><br>
        <input type="text" id="middleName" name="Patronymic"><br>
    </div>
    <div>
        <label for="PhoneNumber">Номер телефона</label><br>
        <input type="text" id="phoneNumber" name="PhoneNumber"><br>
    </div>
    <div>
        <label for="Address">Адрес проживания</label><br>
        <input type="text" id="address" name="Address"><br>
    </div>
    <div>
        <label for="Role">Уровень доступа <span class="error">*</span></label><br>
        <select id="Role" name="Role" required>
            <option value="">Выберите должность</option>
            @foreach(Role r in roles)
            {
                <option value="@r.Id">@r.Title</option>
            }
        </select><br>
    </div>
    <label for="Image">Изображение</label><br>
    <input type="file" id="image" name="Image"><br>
    <div>
        <input type="submit" value="Создать">
    </div>
</form>

<script>
    function validateForm() {
        var firstName = document.getElementById("firstName").value;
        var lastName = document.getElementById("lastName").value;
        var login = document.getElementById("login").value;
        var password = document.getElementById("password").value;
        var role = document.getElementById("role").value;

        var errorMessages = [];

        if (!firstName.trim()) {
            errorMessages.push("Введите имя.");
        }
        if (!lastName.trim()) {
            errorMessages.push("Введите фамилию.");
        }
        if (!login.trim()) {
            errorMessages.push("Введите логин.");
        }
        if (!password.trim()) {
            errorMessages.push("Введите пароль.");
        }
        if (!role.trim()) {
            errorMessages.push("Выберите уровень доступа.");
        }

        if (errorMessages.length > 0) {
            alert(errorMessages.join("\n"));
            return false;
        }

        return true;
    }
</script>
