@{
    ViewData["Title"] = $"Профиль - {Model.FullName}";
    string FullName = Model.FullName;
    string Name = Model.Name;
    string Surname = Model.Surname;
    string? Patronymic = Model.Patronymic;
    string ImageUrl = Model.ImageUrl;
    string? passwordError = Model.PasswordError;
}

<body>
    <div class="container">
        <img src="@ImageUrl" alt="Profile Image" class="profile-img">
        <h1 class="fullname">@FullName</h1>
        <!-- Additional profile information can be added here -->
    </div>


    <form method="post" enctype="multipart/form-data" action="/Profile/ChangeProfilePicture">
        <input type="file" name="profilePicture" accept="image/*">
        <button type="submit">Change Profile Picture</button>
    </form>

    <form method="post" action="/Profile/ChangePassword">
        <input type="password" name="currentPassword" placeholder="Current Password" required>
        <input type="password" name="newPassword" placeholder="New Password" required>
        @if (passwordError is not null)
        {
            <p>
                Ошибка
            </p>
        }
        <button type="submit">Change Password</button>
    </form>
</body>