@{
    ViewData["Title"] = "История";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>


<table>
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Дата</th>
            <th>Описание</th>
            <th>Создатель</th>
        </tr>
    </thead>
    <tbody>
        <tr onclick="window.location.href='/Home/1';">
            <td>Иванов Иван Иванович</td>
            <td>2024-03-30</td>
            <td>Описание 1</td>
            <td>Создатель 1</td>
        </tr>
        <tr onclick="window.location.href='/Home/2';">
            <td>Петров Петр Петрович</td>
            <td>2024-03-29</td>
            <td>Описание 2</td>
            <td>Создатель 2</td>
        </tr>
        <!-- Добавьте дополнительные записи, как необходимо -->
    </tbody>
</table>